{% extends 'base.html' %}
{%block content%}

<h1>TC logs detail Page</h1>

<div class="container">
        <table class="table table-bordered mt-2 table_border" id="tc_report">
            <thead>
              <tr>
                <th scope="col" class="td_text_center">Testcase Name</th>
                <th scope="col" class="td_text_center" >Status</th>
                
              </tr>
            </thead>
            <tbody>
                {% for log_details in tc_logs_details %}
                <tr>
                    <td class="td_text_center">{{log_details[2]}}</td>
                  
                    <td class="td_text_center">
                      {% if log_details[3] == 'PASS' %}
                          <button class="btn btn-success">
                           PASS
                          </button>
                        {% else %}
                          <button class="btn btn-danger">
                            FAIL
                          </button>
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
             
            </tbody>
          </table>
</div>


{% endblock %}
